*{
    margin:0;
    padding: 0;

}

body{
  background-color: rgb(201, 201, 154);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.game{
  width : 90vmin;
  max-width: 400px;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5vmin;
}

.box{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 1rem rgba(46, 38, 38, 0.5);
  font-size: 10vmin;
  color: rgb(143, 46, 46);
  background-color: aquamarine;
}

button{
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  transform: scale(0.99);
}

#reset{
    padding: 1rem;
    font-size: 1.30rem;
    background-color: #303026;
    color: white;
    border-radius: 2px;
    border: none;

}
#new{
     padding: 1rem;
    font-size: 1.30rem;
    background-color: #303026;
    color: white;
    border-radius: 2px;
    border: none;

}
#msg{
    font-size: 8vmin;
    color: #ffffc7;
}
.msg-container{
    height: 25vmin;
    gap: 2 rem;

}
.hide{
    display:none;
}